* {
  box-sizing: border-box;
  margin: 0;
}

.error {
  color: red;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: antiquewhite;
  align-items: center;
  height: 50px;
}

.navbar-brand {
  padding: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  margin: 0 16px 0 0;
}

.nav-item {
  text-decoration: none;
}

/* Homepage */
.homepage,
.add-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile */

.profile,
.login,
.register,
.homepage {
  margin: 16px 20% 0 20%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.profile h1,
.profile h2 {
  text-align: center;
  margin: 0 0 16px 0;
}

.profile-picture-container img {
  transform: scale(1);
  object-fit: cover;
  width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 0 16px 0;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
}

.btn {
  border: none;
  padding: 8px 8px;
  text-decoration: none;
  margin: 5px;
}

.change-password-container {
  margin-bottom: 32px;
}

.check {
  -webkit-appearance: none; /*hides the default checkbox*/
  height: 20px;
  width: 20px;
  transition: 0.1s;
  background-color: #fe0006;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  outline: none;
}

.check:checked {
  background-color: #0e9700;
}

.check:before {
  content: '✖';
}
.check:checked:before {
  content: '✔';
}

.check:hover {
  cursor: pointer;
  opacity: 0.6;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}

textarea {
  resize: none;
  width: 100%;
  height: 50px;
}

.description-column,
.title-column {
  max-width: 50px;
  word-wrap: break-word;
}
