* {
  box-sizing: border-box;
  margin: 0;
}

.error {
  color: red;
}

.title {
  padding: 16px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 16px;
}

.profile,
.login,
.register,
.homepage,
.change-task-container,
.list {
  margin: 16px 20% 0 20%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

/* Nav */

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #f6f3ef;
  align-items: center;
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  margin: 0 16px 0 0;
}

.nav-item {
  text-decoration: none;
}

.edit-png,
.delete-png {
  width: 20px;
  height: 20px;
}

.edit,
.delete {
  border: none;
  background-color: white;
}

.edit {
  padding-right: 8px;
}

/* Homepage */

.list-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-bottom: 1px solid black;
  margin: 16px 0 16px 0;
}

.all-tasks,
.task-container,
.todays-tasks {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #bebebe;
  border-radius: 5px;
  padding: 8px;
}

.todays-tasks,
.all-tasks {
  margin: 16px 0 16px 0;
}

.view-tasks-buttons {
  display: flex;
  flex-direction: column;
}
.task-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todays-tasks-loop {
  display: none;
}

.todays-tasks-loop.active {
  display: block;
}

.all-tasks-loop {
  display: none;
}

.all-tasks-loop.active {
  display: block;
}

/* Profile */

.profile-picture-flex {
  display: flex;
  justify-content: center;
}

.profile h1,
.profile h2 {
  margin: 0 0 16px 0;
}

.profile-picture-container img {
  transform: scale(1);
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 0 16px 0;
}

.profile-picture-container {
  width: 250px;
  height: 300px;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
}

.btn {
  border: none;
  padding: 8px 8px;
  text-decoration: none;
  margin: 5px;
}

.change-password-container {
  margin-bottom: 32px;
}
