* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Nunito extralight';
  src: url(/assets/fonts/Nunito-ExtraLight.woff);
  src: url(/assets/fonts/Nunito-ExtraLight.woff2);
}

@font-face {
  font-family: 'Nunito light';
  src: url(/assets/fonts/Nunito-Light.woff);
  src: url(/assets/fonts/Nunito-Light.woff2);
}

@font-face {
  font-family: 'Nunito regular';
  src: url(/assets/fonts/Nunito-Regular.woff);
  src: url(/assets/fonts/Nunito-Regular.woff2);
}

:root {
  /* Colors */
  --task-color: #d1cfcf;
  --btn-color: rgb(173, 170, 170);
  /* Font sizes */
  --h1: 28px;
  --h2: 24px;
  --h3: 18px;
  --p: 16px;
}

.error {
  color: red;
}

.message {
  color: rgb(14, 136, 14);
}

.title {
  padding: 16px;
  font-family: 'Nunito regular';
}

h1,
h2 {
  text-align: center;
  margin-bottom: 8px;
}

h1 {
  font-family: 'Nunito regular';
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h2,
h3 {
  font-family: 'Nunito light';
}

p {
  font-family: 'Nunito extralight';
  font-size: var(--p);
}

form {
  font-family: 'Nunito light';
}

.profile,
.login,
.register,
.homepage,
.change-task-container,
.list {
  margin: 16px 20% 32px 20%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

/* Nav */

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #f6f3ef;
  align-items: center;
  height: 50px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Nunito regular';
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  margin: 0 16px 0 0;
}

.nav-item {
  text-decoration: none;
}

.edit-png,
.delete-png,
.done-png {
  width: 20px;
  height: 20px;
}

.edit,
.delete {
  border: none;
  background-color: white;
}

.edit {
  padding-right: 8px;
}

/* Homepage */

.list-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-bottom: 1px solid black;
  margin: 16px 0 16px 0;
}

.all-tasks,
.task-container,
.todays-tasks,
.completed-tasks {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--task-color);
  border-radius: 5px;
  padding: 8px;
}

.todays-tasks,
.all-tasks,
.completed-tasks {
  margin: 16px 0 16px 0;
}

.view-tasks-buttons {
  display: flex;
  flex-direction: column;
}
.task-buttons {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  width: 100%;
  padding-top: 6px;
}

.todays-tasks-loop {
  display: none;
}

.todays-tasks-loop.active {
  display: block;
}

.all-tasks-loop {
  display: none;
}

.all-tasks-loop.active {
  display: block;
}

/* Profile */

.profile-picture-flex {
  display: flex;
  justify-content: center;
}

.profile-picture-container img {
  transform: scale(1);
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 0 16px 0;
}

.profile-picture-container {
  width: 250px;
  height: 300px;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
}
textarea {
  resize: none;
  width: 100%;
}

.btn {
  border: none;
  padding: 8px 8px;
  text-decoration: none;
  margin: 5px;
  font-family: 'Nunito regular';
  border-radius: 2px;
  background-color: var(--btn-color);
}

.change-password-container {
  margin-bottom: 32px;
}

/* Lists */

.list-task-buttons {
  display: flex;
  align-items: center;
}

.done {
  background-color: rgb(93, 184, 93);
}

.undone {
  background-color: rgb(179, 72, 72);
  color: white;
}

.completed-tasks-loop {
  display: none;
}

.completed-tasks-loop.active {
  display: block;
}

.completed-tasks-container,
.todays-task-container,
.all-tasks-container,
.change-email-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.delete-btn,
.edit-btn,
.done-btn {
  background-color: var(--task-color);
  border: none;
}

/* Change task/list */

.change-task-container h1,
.change-list-container h1 {
  padding-bottom: 8px;
}
