/* Lists */

.list-task-buttons {
  display: flex;
  align-items: center;
}

.done {
  background-color: rgb(93, 184, 93);
}

.undone {
  background-color: rgb(179, 72, 72);
  color: white;
  margin: 0;
  padding: 5px;
}

.list-title-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.back-img {
  position: absolute;
  left: 20%;
  margin-bottom: 7px;
}

.back-png {
  width: 30px;
  height: 30px;
}

.completed-tasks-loop {
  display: none;
}

.completed-tasks-loop.active {
  display: block;
}

.completed-tasks-container,
.todays-task-container,
.all-tasks-container,
.change-email-container,
.add-task-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.delete-btn,
.edit-btn,
.done-btn {
  background-color: var(--task-color);
  border: none;
}
.list-ul a {
  font-size: var(--h2);
}

.add-task-query {
  display: none;
}

.add-task-query.active {
  display: block;
}
/* Change task/list */

.change-task-container h1,
.change-list-container h1 {
  padding-bottom: 8px;
}

.task-title,
.task-deadline,
.task-completed {
  font-family: 'Nunito regular';
}

.specification-items {
  display: flex;
  justify-content: center;
  gap: 6px;
}

@media screen and (min-width: 768px) {
  .back-img {
    left: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .back-img {
    left: 25%;
  }
}
